<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   {% block stylesheets %}
    <!-- Bootstrap CSS -->
    <link href="https://bootswatch.com/5/lumen/bootstrap.min.css" rel="stylesheet">
   {% endblock %}
    <title>{% block title %}L'équipement{% endblock %}</title>
  </head>
  <body>

      {% block body %}
      <h2> L'équipement </h2>
      
      <h5>
        L'informatique est fortement répandue sur le site. Chaque employé est équipé d'un poste fixe relié au
        système central. On dénombre ainsi plus de 350 équipements terminaux et un nombre de serveurs
        physiques conséquent (45 en 2012) sur lesquels tournent plus de 100 serveurs virtuels.
        On trouve aussi des stations de travail plus puissantes dans la partie labo-recherche, et une multitude
        d'ordinateurs portables (personnels de direction, service informatique, services commerciaux, etc). 
        Les visiteurs médicaux reçoivent une indemnité bisannuelle pour s'équiper en informatique (politique
        Swiss-Bourdin) ou une dotation en équipement (politique Galaxy). Il n'y a pas à l'heure actuelle
        d'uniformisation des machines ni du mode de fonctionnement 
        Chaque employé de l'entreprise a une adresse de messagerie de la forme nomUtilisateur@swissgalaxy.com. Les anciennes adresses de chaque laboratoire ont été définitivement fermées au 1er
        janvier 2011. 
        </h5>
        <br>
        <br>
        <br>
        <br>
        <a href="{{path('index')}}" class="btn btn-primary"> Accueil </a>
      {% endblock %} 
   
    {% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    {% endblock %}
  </body>
</html>