{% extends 'base.html.twig' %}

{% block title %}Info{% endblock %}

{% block body %}
        {% for uti in utilisateurs %}
          <a class="btn btn-danger" href="{{ path('utiparid', {'id': uti.id}) }}">{{uti.prenom}} {{uti.nom}}</a>
        
        {% endfor %}
    

    
{% endblock %}